html
/* , #background */
 {
    /* background-color: black; */
    background-image: url("https://wallpapercave.com/wp/wp3204926.jpg");
    background-size: cover;
    /* background-size: auto; */
    /* background-position: 0, 0; */
    width: 100%;
    height: 100%;
    /* width: 10000px; */
    /* height: 10000px; */
    overflow: hidden;
}

h1 {
    color: white;
    font-family: "Nova Mono", sans-serif;
    text-align: center;
    margin-top: 10%;
    letter-spacing: 20px;
}

@media only screen and (max-width: 800px) {
    h1 {
        letter-spacing: normal;
    }
}